<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head_sec}"></head>

<body>
<header class="header-area header-style-1 header-height-2" th:replace="~{fragments::header-sec}">
</header>
<div th:replace="~{fragments::side-header}"></div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/home}" rel="nofollow">Home</a>
                <span><a  th:href="@{/orderDetails?pageNo=0}"> Order</a></span>
                <span></span> Order-Details
            </div>
        </div>
    </div>
    <section class="pt-80 pb-100">
        <div class="container">
            <div class="row">

                    <div class="card">
                        <div class="card-header">
                            <a  th:href="@{/orderDetails?pageNo=0}"> Back</a>
                            <h5 class="mb-0">Your Orders</h5>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Order</th>

                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total
                                        <th>Payment Method</th>
                                        <th>Address</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail:${orders}">
                                        <td th:text="${orderDetail.id}">#</td>

                                        <td th:text="${orderDetail.orderDate}"></td>
                                        <td th:text="${orderDetail.orderStatus}"></td>
                                        <td th:text="${orderDetail.grandTotalPrize}">₹</td>
                                        <td th:text="${orderDetail.paymentMethod}"></td>
                                        <td>
                                            <span th:text="${orderDetail.shippingAddress.addressLine1 + ' ' + orderDetail.shippingAddress.addressLine2
                                        + ', ' + orderDetail.shippingAddress.city + ', ' + orderDetail.shippingAddress.pincode}"></span><br>
                                        <span th:text="${orderDetail.shippingAddress.district+' '+orderDetail.shippingAddress.state
                                        + ', ' + orderDetail.shippingAddress.country}"></span>

                                        </td>
                                        <td>
                                            <a href="#orders" class="btn-danger" th:if="${(orderDetail.orderStatus=='Pending' || orderDetail.orderStatus=='Shipped') && orderDetail.paymentMethod!='Payment Pending'}"
                                               th:onclick="|showSweetAlert('${orderDetail.id}', 'cancel'); return false;|">Cancel</a>
                                            <a href="#orders" class="btn-success" th:if="${orderDetail.orderStatus=='Cancel'}">Cancelled</a>
                                            <a class="btn-danger"  th:if="${orderDetail.orderStatus=='Delivered'}"
                                               th:onclick="|showSweetAlert('${orderDetail.id}', 'return'); return false;|">
                                                Return</a>
                                            <a class="btn-brand text-white" th:if="${orderDetail.orderStatus=='Delivered'}" > Add Review</a>
                                            <a class="btn-brand text-white" th:if="${orderDetail.orderStatus=='Return Pending'}">Returned</a>
                                            <a class="btn-brand text-white" th:if="${orderDetail.orderStatus=='Return Accept'}" > Add Review</a>
                                            <a th:href="@{/rePay/{id}(id= ${orderDetail.id})}" class="btn btn-danger text-white" th:if="${orderDetail.paymentMethod=='Payment Pending'}" > Pay Now</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <!-- Modal -->
                                <div class="modal fade" id="reasonModal" tabindex="-1" aria-labelledby="reasonModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="reasonModalLabel">Reason for Cancellation/Return</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="reasonForm">
                                                    <div class="mb-3">
                                                        <label for="reasonInput" class="form-label">Please provide a reason:</label>
                                                        <textarea class="form-control" id="reasonInput" rows="3" required></textarea>
                                                    </div>
                                                    <input type="hidden" id="orderIdInput" name="orderId">
                                                    <input type="hidden" id="actionType" name="actionType">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" id="submitReason">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments::footer-sec}"></footer>

<div th:replace="~{fragments::pre-loader}"></div>
<!-- Vendor JS-->
<div th:replace="~{fragments::scripts}"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function showReasonModal(orderId, actionType) {
        document.getElementById('orderIdInput').value = orderId;
        document.getElementById('actionType').value = actionType;
        var reasonModal = new bootstrap.Modal(document.getElementById('reasonModal'));
        reasonModal.show();
    }

    document.getElementById('submitReason').addEventListener('click', function() {
        var reason = document.getElementById('reasonInput').value;
        var orderId = document.getElementById('orderIdInput').value;
        var actionType = document.getElementById('actionType').value;

        if (reason.trim() !== '') {
            const url = actionType === 'cancel' ? '/shop/cancelOrder':'/shop/returnOrder';
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    orderId: orderId,
                    reason: reason
                },
                success: function(response) {
                    setTimeout(function() {
                        Swal.fire({
                            title: 'Thank you!',
                            text: 'Thank you for your feedback!',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true,
                            showConfirmButton: false
                        }).then((result) => {
                            location.reload();
                        });
                    }, 500);
                },
                error: function(error) {
                    alert('An error occurred. Please try again.');
                }
            });

            // Hide the modal
            var reasonModal = bootstrap.Modal.getInstance(document.getElementById('reasonModal'));
            reasonModal.hide();
        } else {
            alert('Please provide a reason.');
        }
    });

    function showSweetAlert(orderId, actionType) {
        let confirmMessage = actionType === 'cancel' ?
            "Are you sure you want to cancel this order?" :
            "Are you sure you want to return this order?";
        Swal.fire({
            title: confirmMessage,
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, proceed!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                showReasonModal(orderId, actionType)
                console.log("User clicked Yes");
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                console.log("User clicked Cancel");
            }
        });
    }

</script>

</body>
</html>