<!DOCTYPE html>
<html class="no-js" lang="en">

<head th:replace="~{fragments::head_sec}">
</head>
<style>
    .out-of-stock {
        opacity: 0.5;
    }
</style>
<body>

<header class="header-area header-style-1 header-height-2" th:replace="~{fragments::header-sec}">
</header>
<div th:replace="~{fragments::side-header}"></div>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/home}" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-product-fillter">
                        <div class="total-product" th:if="${size==0}">
                            <p><strong class="text-brand"></strong>  No Products in shop !</p>
                        </div>
                        <div class="sort-by-product-area">
                            <select id="basic" class="selectpicker show-tick form-control"
                                    data-placeholder="$ USD" onchange="location = this.value;">
                                <option selected class="active"  value="null">Filter</option>
                                <option value="http://anshitha.cloud/shop/random">Featured</option>
                                <option value="http://anshitha.cloud/shop/high-price">High Price → Low Price
                                </option>
                                <option value="http://anshitha.cloud/shop/lower-price">Low Price → High Price
                                </option>
                                <option value="http://anshitha.cloud/shop/newArrival">New arrivals</option>
                                <option value="http://anshitha.cloud/shop/random">Avg. Rating</option>
                                <option value="http://anshitha.cloud/shop/popular">Popularity</option>
                                <option value="http://anshitha.cloud/shop/ascending-name">aA - zZ</option>
                                <option value="http://anshitha.cloud/shop/descending-name">zZ - aA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        <div class="col-lg-3 col-md-4"  th:each="product :${products}" th:if="${!product.category.deleted  and !product.deleted}">
                            <th:block th:if="${!product.category.deleted}">
                                <div class="product-cart-wrap mb-30" th:classappend="${product.currentQuantity == 0} ? ' out-of-stock'">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a th:href="@{/find-products/{id} (id = ${product.id})}">
                                                <img class="default-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                                <img class="hover-img" th:src="@{|/imgs/items/${product.image[0].getName()}|}" alt="img1">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" th:href="@{/addToWishList(productId=${product.id})}" th:if="${product.currentQuantity > 0}"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Buy now" class="action-btn" th:href="@{/addToCart(productId=${product.id})}" th:if="${product.currentQuantity > 0}"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="#" th:text="${product.category.name}"></a>
                                        </div>
                                        <h2><a href="#" th:text="${product.name}"></a></h2>
                                        <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                        </div>
                                        <div class="product-price">
                                            <span th:unless="${product.salePrice > 0}">₹[(${product.costPrice})]</span>
                                            <span th:if="${product.salePrice > 0}">₹[(${product.salePrice})]</span>
                                            <span th:if="${product.salePrice > 0}" class="old-price">₹[(${product.costPrice})]</span>
                                        </div>
                                        <div class="text-danger">
                                            <span th:if="${product.currentQuantity == 0}">Out Of Stock</span>
                                            <span th:if="${product.currentQuantity < 10 and product.currentQuantity > 0}">Only Few Left</span>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li th:if= "${currentPage != 0}" class="page-item ">
                                    <a th:href = "@{'/product-shop/' + ${currentPage - 1}}" class="page-link">
                                        <i class="fi-rs-angle-double-small-left"></i>
                                    </a>
                                </li >
                                <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend = "${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                                    <a th:href = "@{'/product-shop/' + ${i - 1}}" class="page-link" href="#">
                                        <span th:text = "${i}"></span>
                                    </a>
                                </li>
                                <li th:if = "${currentPage + 1 != totalPages}" class="page-item">
                                    <a th:href = "@{'/product-shop/' + ${currentPage + 1}}" class="page-link" href="#">
                                        <i class="fi-rs-angle-double-small-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments::footer-sec}"></footer>

<div th:replace="~{fragments::pre-loader}"></div>
<!-- Vendor JS-->
<div th:replace="~{fragments::scripts}"></div>
</body>

</html>
