<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">

    <title>Forgot-Password</title>
    <link rel="stylesheet" href="/shop/css/main.css">
</head>
<body>
<section class="pt-150 pb-150 pl-200">
    <div class="container pl-200">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Enter Verification code</h3>
                                </div>
                            </div>
                            <div th:if = "${session.error}">
                                <p class = "alert alert-danger" th:text = "${session.error}"></p>
                            </div>
                            <form th:action="@{/validateOTP}" th:object="${userOTP}" method="post">
                                <div class="form-outline mb-4">
                                    <input type="text" id="form2Example17" class="form-control form-control-lg" name="email" th:value="${userOTP.email}" readonly/>

                                </div>
                                <div class="form-group">
                                    <input type="text" style="border: none ;border-bottom: solid 1px gray;border-radius: 0px" th:field="*{oneTimePassword}" name="oneTimePassword" placeholder="Enter Otp" class="form-control" >
                                </div>
                                <div  th:if="${param.error}">
                                    <div class="alert alert-danger col=xs-offset-1 col-xs-10">
                                        Sorry:you entered invalid otp</div>

                                </div>
                                <div class="form-group">
                                    <button type="submit" id="validateBtn" class="btn btn-fill-out btn-block hover-up">Verify Otp</button>
                                </div>
                            </form>
                            <div id="timer">Timer: <span id="timerDisplay">60</span> seconds</div>
                            <button id="resendBtn" class="btn btn-fill-out btn-block hover-up" style="display: none;" onclick="resendOTP()">Resend OTP</button>
                            <a th:href="@{/home}">Back to Home</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace = "~{fragments::scripts}"></div>

<script>

    var timer, interval;

    function startTimer(duration, display) {
        timer = duration;
        interval = setInterval(function () {
            var minutes = parseInt(timer / 60, 10);
            var seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = seconds;

            if (--timer < 0) {

                document.getElementById("validateBtn").style.display = "none";
                document.getElementById("resendBtn").style.display = "block";
                document.getElementById("timer").style.display = "none";
                clearInterval(interval); // Clear the interval
            }
        }, 1000);
    }

    window.onload = function () {
        var oneMinute = 60,
            display = document.getElementById("timerDisplay");
        startTimer(oneMinute, display);
    };

    function resendOTP() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/shop/sendEmailOTPLogin", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("OTP resent successfully!");
            }
        };
        xhr.send();
        clearInterval(interval);
        document.getElementById("timer").style.display = "block";
        var display = document.getElementById("timerDisplay");
        startTimer(60, display);

        document.getElementById("resendBtn").style.display = "none";
        document.getElementById("validateBtn").style.display = "block";
    }
</script>
</body>
</html>