<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head_sec}"></head>

<body>
<header class="header-area header-style-1 header-height-2" th:replace="~{fragments::header-sec}">
</header>
<div th:replace="~{fragments::side-header}"></div>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/home}" rel="nofollow">Home</a>
                <span></span> <a th:href="@{/product-shop/0}">Shop</a>
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                            <tr class="main-heading">
                                <th scope="col" colspan="2">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Status</th>
                                <th scope="col">Action</th>
                                <th scope="col">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="wishlists :${wishList}">
                                <td class="image product-thumbnail"><img  th:if="${not #lists.isEmpty(wishlists.product.image)}"
                                                                          th:src="@{|/imgs/items/${wishlists.product.image[0].getName()}|}"></td>
                                <td class="product-des product-name">
                                    <h5 class="product-name"><a th:href="@{/find-products/{id} (id = ${wishlists.product.id})}" th:text="${wishlists.product.name}" ></a></h5>

                                    </p>
                                </td>
                                <td class="price" data-title="Price"><span th:text="${wishlists.product.salePrice}">₹ </span></td>
                                <td class="text-center" data-title="Stock">
                                    <span class="color3 font-weight-bold" th:text="${wishlists.product.currentQuantity}"></span>
                                </td>
                                <td class="text-right" data-title="Cart">
                                    <a class="btn btn-sm" th:if="${wishlists.product.currentQuantity!=0}" th:href="@{/addToCart(productId=${wishlists.product.id})}"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                                    <a class="btn btn-sm" th:if="${wishlists.product.currentQuantity==0}" onclick="if (!confirm('The product is currently un available. we will inform you when it restocks.Thank you'))return false "><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</td>
                                </td>
                                <td class="action" data-title="Remove"><a th:href="@{/removeFromWishList(wishListId=${wishlists.id})}"
                                                                          onclick="if (!confirm('Are you sure want to delete this item wish List'))return false "><i class="fi-rs-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments::footer-sec}"></footer>

<div th:replace="~{fragments::pre-loader}"></div>
<!-- Vendor JS-->
<div th:replace="~{fragments::scripts}"></div>
</body>
</html>